@using virtualReality.Entities
@model virtualReality.ViewModels.GenreVM.GenreVM

@{
    this.ViewData["title"] = "Genres";
    this.Layout = "/Views/Shared/_Site.cshtml";
}

<div class="container mt-4">
    <div class="container mb-2">
        <div class="col-lg-8" style="margin: 150px auto; justify-content: start;">
            <div class="card" style="width: 16rem;">
                <div class="card-body" style="border-color: #8c52f1;">
                    <h2>Check out the genres</h2>
                    <ul style="list-style-type:none;">
                        <li>
                            Horror
                            <a class="btn" style="color: #8c52f1; border-color:#8c52f1; margin:20px;" href="Games/Edit">Edit</a>
                            <button>Delete</button>
                        </li>
                        <li>
                            Action
                            <a class="btn" style="color: #8c52f1; border-color:#8c52f1; margin:20px;" href="Games/Edit">Edit</a>
                            <button>Delete</button>
                        </li>
                        <li>
                            Fantastic
                            <a class="btn" style="color: #8c52f1; border-color:#8c52f1; margin:20px;" href="Games/Edit">Edit</a>
                            <button>Delete</button>
                        </li>
                    </ul>
                    <button>Edit new genre</button>

                </div>
            </div>
        </div>

        <a class="btn" style="color: #8c52f1; border-color: #8c52f1; margin:20px;" href="/Games/Create">Add Games</a>
    </div>
</div>



