@using virtualReality.Entities
@using virtualReality.Extensions
@{ 
    User loggedUser = this.ViewContext.HttpContext.Session.GetObject<User>("loggedUser");
    var controller = @ViewContext.RouteData.Values["controller"].ToString();
    var action = @ViewContext.RouteData.Values["action"].ToString();

}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="templatemo">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>@ViewData["title"]</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <!-- Vij raboti li -->
    <link href="/css/customStyles.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/css/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/css/assets/css/templatemo-liberty-market.css">
    <link rel="stylesheet" href="/css/assets/css/owl.css">
    <link rel="stylesheet" href="/css/assets/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
</head>
<body>
    <!-- Header area start -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- Menu start -->
                        <ul class="nav">
                            <li>
                                <a href="/Home/Index" class="active">Home</a>
                            </li>
                            <li>
                                <a href="/Home/Details">Item Details</a>
                            </li>

                            @if (loggedUser != null)
                            {
                                <li>
                                    <a href="/Home/Logout"> Logout </a>
                                </li>
                                <li>
                                    <a href="/Games/AllGames">Games</a>
                                </li>
                                <li>
                                    <a href="/Genre/AllGenres">Genres</a>
                                </li>
                                <li>
                                    <a href="/Order/AllOrders">Orders</a>
                                </li>
                            }
                            else
                            {
                                @if (controller.ToLower() != "home" || action.ToLower() != "login")
                                {
                                    <li><a href="/Home/Login">Login</a></li>

                                }
                                @if (controller.ToLower() != "home" || action.ToLower() != "register")
                                {
                                    <li><a href="/Home/Registration">Register</a></li>
                                }
                            }

                        </ul>
                        <!--  Menu end -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header area end -->

    <div>
        @RenderBody()
    </div>

    <!-- Footer-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Project_VirtualReality - Вероника Пенева - 2101681046
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer end -->
    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="/css/vendor/jquery/jquery.min.js"></script>
    <script src="/css/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="/css/assets/js/isotope.min.js"></script>
    <script src="/css/assets/js/owl-carousel.js"></script>

    <script src="/css/assets/js/tabs.js"></script>
    <script src="/css/assets/js/popup.js"></script>
    <script src="/css/assets/js/custom.js"></script>

</body>
</html>
