@model virtualReality.ViewModels.OrdersVM.AllOrdersVM

@{
    this.ViewData["title"] = "Orders";
    this.Layout = "/Views/Shared/_Site.cshtml";

}

<h1>Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                OrderId
            </th>
            <th>
                GameId
            </th>
            <th>
                UserId
            </th>
        </tr>
    </thead>
    <tbody>
        @{int i = 0;}
        @foreach (var order in Model.Orders)
        {
            i++;
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @order.Id
                </td>
                <td>
                    @order.GameId
                </td>
                <td>
                    @order.UserId
                </td>
                <td>
                    <a asp-action="EditStatus" asp-route-id="@order.Id">Edit Status</a>
                </td>
            </tr>
        }
    </tbody>
</table>