body {
	font-size:16px;
	overflow-x:hidden;
	font-family: 'Cabin', sans-serif;
    background: linear-gradient(90deg, #020024 0, #de6c0e 35%, #00d4ff 100%);
    margin: 0;
    padding: 0;
}

h2,h4{
	font-weight:700;
	color:#151515;
	font-family: 'Quicksand', sans-serif;
    line-height: 1.1;
}

h2 {
	font-size:36px;
    display: block;
     font-size: 1.5em;
     margin-block-start: 0.83em;
     margin-block-end: 0.83em;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
     font-weight: bold;
    
}

.text-center {
    text-align: center;
}

.text-center .title:after {
    margin: 15px auto 30px;
}
.title:after {
    content: "";
    display: block;
    width: 15px;
    height: 2px;
    background-color: #f36700;
    margin: 15px 0px 30px;
}

.reserve-form .form-group {
    margin-bottom: 30px;
}

h4 {
	font-size:16px;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.white-text {
	color:#FFF;
}

/* --- Section --- */
.section {
	position:relative;
	padding-top:80px;
	padding-bottom:80px;
}

.section-header .title {
	font-family: 'Dancing Script', cursive;
	margin-top:0px;
}

.title:after {
	content:"";
	display: block;
	width: 15px;
	height: 2px;
	background-color: #f36700;
	margin: 15px 0px 30px;
}

.text-center .title:after {
	margin: 15px auto 30px;
}

.section-header .sub-title {
	font-weight:400;
	color: #f36700;
}

/* --- Buttons --- */
.main-button {
	display:inline-block;
	padding:15px 30px;
	border:none;
	border-radius:40px;
	background-color:#f36700;
	color:#FFF;
	text-transform: uppercase;
	font-weight: 700;
	-webkit-transition:0.2s opacity;
	transition:0.2s opacity;
}
.main-button:hover {
	color:#FFF;
	opacity:0.8;
}

/* --- Inputs --- */
.input {
	width: 100%;
	height: 40px;
	padding: 0px 10px;
	border: 2px solid #ECECEC;
	border-radius: 40px;
	background: transparent;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

.container {
	padding: 10px 15px;
	background-color:  linear-gradient(90deg, #de4c0e, #de6c0e 35%, #00d4ff 100%);
    border-radius: 1rem;
    width: 90%;
    height: 800px;
}

/*------------------------------------*\
	Reservation
\*------------------------------------*/
#reservation.section {
	padding-bottom:0px;
}

#reservation .bg-image  {
	height:75%;
}

.reserve-form {
	padding: 30px 2% 30px;
	background: rgba(21, 21, 21, 0.9);
    border-radius: 1rem;

    position: absolute;
    left: 8%;
    width: 40%;
    padding: 50px;
}

.reserve-form  .form-group {
	margin-bottom:30px;
}

.reserve-form  .form-group label {
	color: #FFF;
	margin-left: 10px;
}

.reserve-form .input {
	border-color: rgba(255, 255, 255, 0.2);
}

/*------------------------------------*\
	Opening Time
\*------------------------------------*/
.opening-time {
	padding: 40px 8% 40px;
	background: #151515;
	margin-top: 40px;
    border-radius: 1rem;

    position: absolute;
    right: 8%;
    width: 40%;
    padding: 10px;
}

.opening-time ul li .day {
	display:inline-block;
	font-weight:400;
	color:#fff;
}

.opening-time ul li .hours {
	float: right;
	font-size: 14px;
	margin-top: 12px;
	font-weight:400;
	color:#f36500;
}

/*------------------------------------*\
	Events
\*------------------------------------*/
.event {
	position:relative;
	margin:15px 0px;
}

.event .event-img {
	position:absolute;
	left:0;
	top:0;
	width: 160px;
}

.event .event-img img {
	width:100%;
}

.event .event-day {
	position: absolute;
	top: 0;
	width: 60px;
	height: 60px;
	background: #f36700;
	text-align: center;
}

.event .event-day span {
	color: #FFF;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	left: 0;
	right: 0;
	font-weight: 700;
}

.event  .event-day:after , .event  .event-day:before{
	content:"";
	width: 0;
	height: 0;
	border-style: solid;
	position:absolute;
	bottom:-20px;
}

.event  .event-day:before {
	left:0;
	border-width: 20px 60px 0 0;
	border-color: #f36500 transparent transparent;
}

.event  .event-day:after {
	right:0;
	border-width: 0 60px 20px 0;
	border-color: transparent #f36500 transparent;
}

.event .event-content {
	min-height: 160px;
	padding-left: 175px;
}

.event .event-content h3 {
	margin-top:0px;
}

.reserve-form {
    padding: 30px 2% 30px;
    background: rgba(21, 21, 21, 0.9);
}


.row {
    margin-right: -14px;
    margin-left: 15px;
}

* {
    box-sizing: border-box;
}

form {
    display: block;
    margin-top: 0em;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.opening-time {
    padding: 40px 8% 40px;
    background: #151515;
    margin-top: 180px;
}

div {
    display: block;
}

.opening-time ul li .day {
    display: inline-block;
    font-weight: 400;
    color: #fff;
}

#reservation.section {
    padding-bottom: 0px;
}

#reservation .bg-image {
    height: 75%;
}
.bg-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

#davaToday{
    border-radius: 1rem;
    opacity: 40%;
}
