@{
    Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "View details";
}

<div class="page-heading normal-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>View item details</h2>
                <div class="buttons">
                    <div class="main-button">
                        <a href="explore.html">Explore Our Items</a>
                    </div>
                    <div class="border-button">
                        <a href="">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="item-details-page">
    <div class="container">  
            <div class="col-lg-12">
                <div class="current-bid">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="item">
                                <div class="left-img">
                                    <img src="/css/assets/images/current-01.jpg" alt="">
                                </div>
                                <div class="right-content">
                                    <h4> David Walker </h4>
                                    <a href="#"> davidwalker </a>
                                    <div class="line-dec"></div>
                                    <h6>
                                        Bid:
                                        <em> 0.06 ETH </em>
                                    </h6>
                                    <span class="date">24/07/2022, 22:00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="item">
                                <div class="left-img">
                                    <img src="/css/assets/images/current-02.jpg" alt="">
                                </div>
                                <div class="right-content">
                                    <h4> David Walker </h4>
                                    <a href="#"> davidwalker </a>
                                    <div class="line-dec"></div>
                                    <h6>
                                        Bid:
                                        <em> 0.06 ETH </em>
                                    </h6>
                                    <span class="date">24/07/2022, 22:00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="item">
                                <div class="left-img">
                                    <img src="/css/assets/images/current-03.jpg" alt="">
                                </div>
                                <div class="right-content">
                                    <h4> David Walker </h4>
                                    <a href="#"> "davidwalker" </a>
                                    <div class="line-dec"></div>
                                    <h6>
                                        Bid:
                                        <em> 0.06 ETH </em>
                                    </h6>
                                    <span class="date">24/07/2022, 22:00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="item">
                                <div class="left-img">
                                    <img src="/css/assets/images/current-02.jpg" alt="">
                                </div>
                                <div class="right-content">
                                    <h4> David Walker </h4>
                                    <a href="#"> davidwalker </a>
                                    <div class="line-dec"></div>
                                    <h6>
                                        Bid:
                                        <em> 0.06 ETH </em>
                                    </h6>
                                    <span class="date">24/07/2022, 22:00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="item">
                                <div class="left-img">
                                    <img src="/css/assets/images/current-04.jpg" alt="">
                                </div>
                                <div class="right-content">
                                    <h4> David Walker </h4>
                                    <a href="#"> davidwalker </a>
                                    <div class="line-dec"></div>
                                    <h6>
                                        Bid:
                                        <em> 0.06 ETH </em>
                                    </h6>
                                    <span class="date">24/07/2022, 22:00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="item">
                                <div class="left-img">
                                    <img src="/css/assets/images/current-01.jpg" alt="">
                                </div>
                                <div class="right-content">
                                    <h4> David Walker </h4>
                                    <a href="#"> davidwalke </a>
                                    <div class="line-dec"></div>
                                    <h6>
                                        Bid:
                                        <em> 0.06 ETH </em>
                                    </h6>
                                    <span class="date">24/07/2022, 22:00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

