
@{ 
    Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "virtualReality";
}

    <!-- Main banner area start -->
    <div class="main-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="header-text customClass">
                        <h2>Virtual Reality </h2>
                        <p class="customClass">
                            Virtual Reality is a computer-generated environment with scenes and objects that appear to be real,
                            making the user feel they are immersed in their surroundings. This environment is perceived through
                            a device known as a Virtual Reality headset or helmet. VR allows us to immerse ourselves in video games as if
                            we were one of the characters, learn how to perform heart surgery or improve the quality of sports training to maximise performance.
                        </p>
                        <div class="buttons">
                            <div class="border-button">
                                <a>Description</a>
                            </div>
                            <div class="main-button">
                                <a>Watch live</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="owl-banner owl-carousel">
                        <div class="item">
                            <img src="/css/assets/images/banner-01.png" alt="">
                        </div>
                        <div class="item">
                            <img src="/css/assets/images/banner-02.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main banner area end  -->
    <!--Categories -->
    <div class="categories-collections">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="categories">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-heading">
                                    <div class="line-dec"></div>
                                    <h2>Categories</h2>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6">
                                <div class="item">
                                    <div class="icon">
                                        <img src="/css/assets/images/icon-01.png" alt="">
                                    </div>
                                    <h4>Blockchain</h4>
                                    <div class="icon-button">
                                        <a href="#"><i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6">
                                <div class="item">
                                    <div class="icon">
                                        <img src="/css/assets/images/icon-02.png" alt="">
                                    </div>
                                    <h4>Digital Art</h4>
                                    <div class="icon-button">
                                        <a href="#"><i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6">
                                <div class="item">
                                    <div class="icon">
                                        <img src="/css/assets/images/icon-03.png" alt="">
                                    </div>
                                    <h4>Music Art</h4>
                                    <div class="icon-button">
                                        <a href="#"><i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6">
                                <div class="item">
                                    <div class="icon">
                                        <img src="/css/assets/images/icon-04.png" alt="">
                                    </div>
                                    <h4>Virtual World</h4>
                                    <div class="icon-button">
                                        <a href="#"><i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6">
                                <div class="item">
                                    <div class="icon">
                                        <img src="/css/assets/images/icon-05.png" alt="">
                                    </div>
                                    <h4>Valuable</h4>
                                    <div class="icon-button">
                                        <a href="#"><i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6">
                                <div class="item">
                                    <div class="icon">
                                        <img src="/css/assets/images/icon-06.png" alt="">
                                    </div>
                                    <h4> Glasses</h4>
                                    <div class="icon-button">
                                        <a href="#"><i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--Categories end -->

    <!-- info -->
    <div class="create-nft">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-heading">
                        <div class="line-dec"></div>
                        <h2>Create your virtual game and  put it on the market</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="main-button">
                        <a href="">Create now</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item first-item">
                        <div class="number">
                            <h6>1</h6>
                        </div>
                        <div class="icon">
                            <img src="/css/assets/images/icon-02.png" alt="">
                        </div>
                        <h4>Description</h4>
                        <p>
                            With avatar image-based virtual reality, people can join the virtual environment in the form of real video as well as an avatar.
                            One can participate in the 3D distributed virtual environment as form of either a conventional avatar or a real video. Users can select their own type of participation based on the system capability.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item second-item">
                        <div class="number">
                            <h6>2</h6>
                        </div>
                        <div class="icon">
                            <img src="/css/assets/images/icon-04.png" alt="">
                        </div>
                        <h4>Health and safety</h4>
                        <p>
                            VR headsets may regularly cause eye fatigue, as does all screened technology, because people tend to blink less when watching screens, causing their eyes to become more dried out. There have been some concerns about VR headsets contributing to myopia,
                            but although VR headsets sit close to the eyes, they may not necessarily contribute to nearsightedness if the focal length of the image being displayed is sufficiently far away.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="icon">
                            <img src="/css/assets/images/icon-06.png" alt="">
                        </div>
                        <h4>Privacy</h4>
                        <p>
                            The persistent tracking required by all VR systems makes the technology particularly useful for, and vulnerable to, mass surveillance. The expansion of VR will increase the potential and reduce the costs for information gathering of personal actions, movements and responses.[48] Data from eye tracking sensors, which are projected to become a standard feature in virtual reality headsets,[161][162] may indirectly reveal information about a user's ethnicity, personality traits, fears, emotions, interests, skills, and physical and mental health condition.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- info end -->
    <!-- Items Currently In The Market -->
    <div class="currently-market">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <div class="line-dec"></div>
                        <h2><em>Items</em> Currently In The Market.</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="filters">
                        <ul>
                            <li data-filter="*" class="active">All Items</li>
                            <li data-filter=".msc">Music Art</li>
                            <li data-filter=".dig">Digital Art</li>
                            <li data-filter=".blc">Blockchain</li>
                            <li data-filter=".vtr">Virtual</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row grid">
                        <div class="col-lg-6 currently-market-item all msc">
                            <div class="item">
                                <div class="left-image">
                                    <img src="/css/assets/images/market-01.jpg" alt="" style="border-radius: 20px; min-width: 195px;">
                                </div>
                                <div class="right-content">
                                    <h4>Music Art Super Item</h4>
                                    <span class="author">
                                        <img src="/css/assets/images/author.jpg" alt="" style="max-width: 50px; border-radius: 50%;">
                                        <h6>
                                            Liberty Artist<br>
                                            <a href="#"></a>
                                        </h6>
                                    </span>
                                    <div class="line-dec"></div>
                                    <span class="bid customClass">
                                        Current Bid<br><strong>2.03 ETH</strong><br><em>($8,240.50)</em>
                                    </span>
                                    <span class="ends">
                                        Ends In<br><strong>4D 08H 15M 42S</strong><br><em>(July 24th, 2022)</em>
                                    </span>
                                    <div class="text-button">
                                        <a href="details.html">View Item Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 currently-market-item all vrt dig">
                            <div class="item">
                                <div class="left-image">
                                    <img src="/css/assets/images/market-01.jpg" alt="" style="border-radius: 20px; min-width: 195px;">
                                </div>
                                <div class="right-content">
                                    <h4>Digital Art Item</h4>
                                    <span class="author">
                                        <img src="/css/assets/images/author.jpg" alt="" style="max-width: 50px; border-radius: 50%;">
                                        <h6>Liberty Artist<br><a href="#"></a></h6>
                                    </span>
                                    <div class="line-dec"></div>
                                    <span class="bid">
                                        Current Bid<br><strong>2.50 ETH</strong><br><em>($8,400.50)</em>
                                    </span>
                                    <span class="ends">
                                        Ends In<br><strong>4D 08H 32M 18S</strong><br><em>(July 16th, 2022)</em>
                                    </span>
                                    <div class="text-button">
                                        <a href="details.html">View Item Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 currently-market-item all blc">
                            <div class="item">
                                <div class="left-image">
                                    <img src="/css/assets/images/market-01.jpg" alt="" style="border-radius: 20px; min-width: 195px;">
                                </div>
                                <div class="right-content">
                                    <h4>Blockchain Music Design</h4>
                                    <span class="author">
                                        <img src="/css/assets/images/author.jpg" alt="" style="max-width: 50px; border-radius: 50%;">
                                        <h6>Liberty Artist<br><a href="#"></a></h6>
                                    </span>
                                    <div class="line-dec"></div>
                                    <span class="bid">
                                        Current Bid<br><strong>2.44 ETH</strong><br><em>($8,200.50)</em>
                                    </span>
                                    <span class="ends">
                                        Ends In<br><strong>5D 10H 22M 24S</strong><br><em>(July 18th, 2022)</em>
                                    </span>
                                    <div class="text-button">
                                        <a href="details.html">View Item Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 currently-market-item all vtr">
                            <div class="item">
                                <div class="left-image">
                                    <img src="/css/assets/images/market-01.jpg" alt="" style="border-radius: 20px; min-width: 195px;">
                                </div>
                                <div class="right-content">
                                    <h4>Virtual Currency Art</h4>
                                    <span class="author">
                                        <img src="/css/assets/images/author.jpg" alt="" style="max-width: 50px; border-radius: 50%;">
                                        <h6>Liberty Artist<br><a href="#"></a></h6>
                                    </span>
                                    <div class="line-dec"></div>
                                    <span class="bid">
                                        Current Bid<br><strong>2.44 ETH</strong><br><em>($8,800.50)</em>
                                    </span>
                                    <span class="ends">
                                        Ends In<br><strong>3D 05H 20M 58S</strong><br><em>(July 14th, 2022)</em>
                                    </span>
                                    <div class="text-button">
                                        <a href="details.html">View Item Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

 