@using virtualReality.Entities
@model virtualReality.ViewModels.GamesVM.AllGamesVM

@{
    this.ViewData["title"] = "Games";
    this.Layout = "/Views/Shared/_Layout.cshtml";

}

<a class="btn btn-success mt-3" href="/Games/Create">Add Games</a>


<div class="container mt-4">
    <div class="row">

        @foreach (Games item in Model.Items)
        {

            <div class="col-md-3 mb-4">
                <div class="card" style="width: 16rem;">
                 
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Price: @item.Price USD.</h6>
                        <h6 class="card-subtitle mb-2 text-muted">
                            Actors:
                            @if (item.Genre != null)
                            {
                                @*@foreach (Genre genre in item.manufacturer)
                                {
                                    <span>@game.manufacturer</span>
                                }*@
                            }
                        </h6>
                    </div>
                </div>
            </div>
        }
    </div>

</div>



