@using virtualReality.Entities
@model virtualReality.ViewModels.GenreVM.AllGenresVM

@{
    this.ViewData["title"] = "Genres";
    this.Layout = "/Views/Shared/_Site.cshtml";
}

<div class="container mt-4">
    <div class="container mb-2">
        @if (Model?.Genres != null)
        {
            @foreach (var genre in Model.Genres)
            {
                @if (!string.IsNullOrEmpty(genre.Name))
                {
                    <div class="col-lg-8" style="margin: 150px auto; justify-content: start;">
                        <div class="card" style="width: 16rem;">
                            <div class="card-body" style="border-color: #8c52f1;">
                                <h2 style="color: #8c52f1">@genre.Name</h2>
                                <a class="btn" style="color: #8c52f1; border-color:#8c52f1; margin:20px;" href="./Edit?id=@genre.Id">Edit</a>
                                <a class="btn btn-danger" style="color: #fff; margin:20px;" href="./Delete?id=@genre.Id">Delete</a>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
    <div>
        <a class="btn" style="color: #8c52f1; border-color:#8c52f1; margin:20px;" href="./Create">Create new genre</a>
    </div>
</div>



