@using virtualReality.Entities
@model virtualReality.ViewModels.GenreVM.GenreVM

@{
    this.ViewData["title"] = "Genres";
    this.Layout = "/Views/Shared/_Site.cshtml";
}

<div class="col-lg-8" style="margin: 120px auto;">
    <form  method="post" id="contact">
        <div class="row">
            <div class="label" for="name">
                @Html.LabelFor(m => m.Name)
            </div>
            <div class="input" id="username" name="username" required="required">
                @Html.TextBoxFor(m => m.Items)
            </div>
        </div>
    </form>
    <a class="btn" style="color: #8c52f1; border-color:#8c52f1; margin:20px;" href="/Genre/AllGenres">Create</a>
</div>